@import '../../styles/common.scss';

.cart {
    margin: 20px 0;
}

.button {
    cursor: pointer;
    padding: 20px 20px;
    @include theme(background-color, headerBg);
    @include theme(border, border);
    border-radius: 5px;
    color: #fff;
    opacity: 1;
    transition: all ease 0.5s;
    &:hover {
        opacity: 0.8;
    }
    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

.handleBlock {
    width: 100px;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & button {
        width: 30px;
        height: 30px;
        padding: 5px;
        font-size: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
