.short-product-card {
  display: block;
  position: relative;
  width: 230.66px;
  height: 346px;
  padding: 26px 24px 20px 24px;
  font-size: 13px;
  color: var(--primary-color-text);
  box-sizing: border-box;
  transition: 0.2s linear;
  background-color: var(--white-color-background);
  &:hover {
      box-shadow: 0px 0px 10px 4px var(--grey-color-background);
      z-index: 5000;
  }
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 150px;
  border-radius: 8px;
  overflow: hidden;
}

.image {
  height: 150px;
  width: 150px;
}

.no-image {
  height: 100%;
  width: 100%;
  stroke-width: 1;
  color: var(--secondary-color-text);
}

.info-container {
  display: grid;
  flex-direction: column;
  justify-content: space-around;
  padding: 25px;
}

.name {
  display: block;
  padding: 0px 8px;
  margin: 0;
  font-weight: 500;
  text-align: justify;
  line-height: 19.5px;
  text-align: center;
}

.description {
  display: block;
  color: #6a6a6a;
  padding: 0px 8px;
  text-align: justify;
  transition: 0.2s linear;
}

.price {
  display: block;
  font-weight: 600;
  margin: 8px 0px;
  text-align: center;
  align-self: flex-end;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
}