.details{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
    'title title title'
    'type name total'
    'desc desc desc'
    'button button button'
     ;
}
.subtitle{
    color:  #2C2D2E;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}
.section{
    display: flex;
    flex-direction: column;
}

.title{
    grid-area: title;
}
.type{
    grid-area: type;
}
.name{
    grid-area: name;
}
.total{
    grid-area: total;
}
.description{
    grid-area: desc;
}
.button{
    grid-area: button;
    border-radius: 10px;
    background-color:  #EBB13E;
    width: 100%;
    padding: 20px 18px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    border: none;
    border: 1px solid #EBB13E;
    transition: all .5s linear;
    cursor: pointer;
}
.button:hover{
    color:  #EBB13E;
    background-color: #FFFFFF;
    transition: all .5s linear;

}