################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/node_modules
/.storybook/*
/.vs/*
/.husky/*
/.husky/pre-commit
/.storybook/preview.ts
/.storybook/main.ts
