.storybook-button {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 4px 8px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 8px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.storybook-button--primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.storybook-button--primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}
.storybook-button--primary:focus {
    box-shadow: 0 0 0 2px rgba(0,123,255,.5);
}
.storybook-button--primary:active {
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
}
.storybook-button--secondary {
    color: #333;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.storybook-button--small {
    font-size: 12px;
    padding: 3px 6px;
}
.storybook-button--medium {
    font-size: 14px;
    padding: 4px 8px;
}
.storybook-button--large {
    font-size: 16px;
    padding: 8px 12px;
}
