.short-product-card {
  display: block;
  position: relative;
  width:600px;
  height: 400px;
  padding: 26px 24px 20px 24px;
  font-size: 13px;
  color: var(--primary-color-text);
  box-sizing: border-box;
  transition: 0.2s linear;
  background-color: var(--white-color-background);

}

