.wrapper{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0000007a;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    max-width: 400px;
    padding: 25px 15px;
    background-color: #ffffff;
    position: relative;
}
.closeButton{
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}
.content{}