.button {
    // display: inline-block;
    background-color: var(--primary-color);
    width: 220px;
    height: 63px;
    padding: 16px 20px;
    border-radius: 99px;
    justify-content: center;
    align-items: center;
}