$light: (
        mainBg: #fff,
        mainBgInvers: #333,
        //bgSecondary: #476173,
        text: #333,
);

$dark: (
        mainBg: #333,
        mainBgInvers: #fff,
        //bgSecondary: #fff,
        text: #fff,
);