.logo {
    color: var(--white-color);
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 600;

    .logoVector {
        width: 40px;
        height: 20px;
        margin-left: 8px;
        display: inline-block;
        background: var(--primary-500);
        clip-path: polygon(
                        0% 0%,
                        100% 0%,
                        0% 100%,
                        50% 100%
        );
    }
}

