.header-logo {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--accent-color);
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    color: var(--contrast-color);
  }
}
