.storybook-layout {
    padding: 12px;
}

.box {
    border: 1px solid #bcbcbc;
    border-radius: 8px;
    padding: 16px;
  }

@media (min-width: 768px) {
    .storybook-layout {
        padding: 24px 32px;
    }
}
