.card {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 320px;
    background: #3977ad;
    color: #ffffff;
    border-radius: 2px;
    box-shadow: 2px 2px 8px rgba(0,0,0,.2);
    transition: box-shadow .2s ease;
    cursor: pointer;
}
.card:hover {
    box-shadow: none;
}
.card:hover .card--image {
    transform: scale(1.1);
}
.card--disabled {
    color: #b2b7c2;
    background: #e1e4eb;
    box-shadow: unset;
    cursor: default;
}
.card--inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.card--disabled .card--image__wrapper {
    opacity: .4;
}
.card--image__wrapper {
    overflow: hidden;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.card--image {
    width: 100%;
    transition: transform 1.2s ease;
}
.card--content {
    width: calc(100% - 2em);
    padding: 1em;
    user-select: none;
}
.card--category {
    font-weight: normal;
    font-size: 1rem;
}
.card--name {
    max-width: 100px;
    line-height: 1;
}
.card--description {
    width: 240px;
    margin: 0 0 20px 0;
    line-height: 1.4;
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card--price {
    font-weight: bolder;
    text-align: end;
}
.card--price__old {
    font-weight: bolder;
    font-size: 12px;
    color: #C9CDCF;
    text-decoration: line-through;
    text-align: end;
}
.card--footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
