body.active-modal {
    overflow-y: hidden;
}

.modal .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}

.modalBody{
    box-sizing: border-box;
    max-height: max-content;
    background: white;
    border-radius: 40px;
    border-color: #0E0E0E;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    padding: 14px 28px;
    max-width: 600px;
    min-width: 300px;
}

.modal.open{
    height: 100%;
    display: block;
}

.modal.close{
    height: 0;
    display: none;
}

.modalHeader{
    display: flex;
    align-items: center;
    justify-content: space-around;
}