@import '../../styles/common.scss';

.mask {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 15px 0;
    overflow: auto;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;

    // background-color: rgba(255, 133, 139, 0.6);
    @include theme(background-color, maskColor);
}

.modal {
    width: 400px;
    padding: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    background-color: #fff;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.show {
    display: flex;
}

.hide {
    display: none;
}

.close {
    background-color: transparent;
    border: none;
    position: absolute;
    right: -28px;
    top: -28px;
    width: 24px;
    height: 24px;
    opacity: 0.2;
    cursor: pointer;
    transition: opacity ease 0.5s;

    &:hover {
        opacity: 1;
    }

    &::before,
    &::after {
        content: '';
        position: absolute;
        display: block;
        width: 24px;
        height: 3px;
        background-color: #fff;
        top: 10px;
        left: 0px;
    }

    &::before {
        transform: rotate(45deg);
    }
    &::after {
        transform: rotate(-45deg);
    }
}
