.background{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 90%;
    background-color: rgba(66, 57, 57, 0.5); 
    overflow: hidden;
}
.modal-content{
    display: block;
    position: relative;
    background-color: #F5F7FF;
    padding: 40px 16px 16px 16px;
    min-width: 200px;
    min-height: 200px;

}
.button-close{
    display: block;
    position: absolute;
    color:#10002b;
    top:16px;
    right: 16px;
    transition: 0.2s linear;
    cursor: pointer;
    &:hover{
        opacity: 0.5;    }
}