.item{
    padding: 15px;
    margin-bottom: 20px;
    background-color: aliceblue;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas:
    "title title"
    "category total"
    "desc desc"
    "button button"
    ;
}
.title{
    grid-area: title;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.category{
    grid-area: category;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.desc{
    grid-area: desc;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: 50px;
    overflow: hidden;
}
.button{
    grid-area: button;
}