.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  background: #ffffff;
  &__inner {
    width: 100%;
    max-width: 1400px;
    text-align: left;
    margin: 0 auto;
    padding: 0 15px;
  }

  .logo {
    color: #0156ff;
  }
}