@import "../../styles/common";

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  @include theme(background-color, mainBg);
  @include theme(color, text);

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    text-align: left;
    margin: 0 auto;
    padding: 10px 15px 0;
  }

  .logo {
    color: #0156ff;
  }
}