.cart_item_container {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.cart_item_container button {
  width: 100px;
  height: 30px;
  background-color: red;
  color: #FFF;
  border: none;
}