@import '../../styles/common.scss';

.deleteButton {
    & button {
        cursor: pointer;
        padding: 14px 24px;
        // background-color: rgba(255, 133, 139, 1);
        @include theme(background-color, headerBg);
        @include theme(border, border);
        border-radius: 5px;
        color: #fff;
        opacity: 1;
        transition: all ease 0.5s;
        &:hover {
            opacity: 0.8;
        }
    }
}
