#cart-product-display {
    table {
        tbody {
            .cart-content-title {
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }
        }
    }
}