.header-bottom {
    border-top: 3px solid var(--accent-color);
    box-shadow: 0 10px 10px rgba(0, 0, 0, .3);
}

.headernav-scroll.header-bottom .navbar .offcanvas:not(.show) .nav-link {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}
