.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 5s linear;
    }
}

.App-header {
    background-color: #6c6c6c;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    0% {
        transform: skewX(-5deg);
    }
    25% {
        transform: skewX(5deg);
    }
    50% {
        transform: skewX(10deg);
    }
    100%{
        transform: skewX(-5deg);
    }
}
