.container{
     max-width:1920px;
     padding-left: 50px;
     padding-right: 50px;
}

.languageSection{
     max-width: 100%;
     display: flex;
     flex-direction: column;
     border-radius: 10px;
     background-color: antiquewhite;
     padding: 0 25px;
}
.textField{
     padding-top: 15px;
     padding-bottom: 15px;
     text-align: center;
}
.textField__author{
     text-align: center;

}
.textField__author span{
     font-style: italic;
}
.darck{
     background-color: #000000;
     color: #ffffff;
}
.wrapper{
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     grid-template-rows: 1fr 1fr;
     grid-gap: 40px;
     height: 80vh;
     .item{
          box-shadow: 0px 0px 8px 9px rgba(34, 60, 80, 0.2);
          padding: 10px;
          border-radius: 20px;
          height: 100%;
          width: 100%;
     }

}