@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@100..900&display=swap');

*,
::after,
::before {
    box-sizing: border-box;
}

$font-size-default: 18px;
$grayColor: #5D5D5D;

:root {
    --gray-50: #f7f8f8;
    --gray-100: #edeef1;
    --gray-200: #d8dbdf;
    --gray-300: #b6bac3;
    --gray-400: #8e95a2;
    --gray-500: #6b7280;
    --gray-600: #4a4e5a;
    --gray-700: #40444c;
    --gray-800: #383a42;
    --gray-900: #25272c;
    --neutral-50: #f6f6f6;
    --neutral-100: #e7e7e7;
    --neutral-200: #d1d1d1;
    --neutral-300: #b0b0b0;
    --neutral-400: #888;
    --neutral-500: #737373;
    --neutral-600: #5d5d5d;
    --neutral-700: #4f4f4f;
    --neutral-800: #454545;
    --neutral-900: #262626;
    --primary-50: #fef7ee;
    --primary-100: #fdedd7;
    --primary-200: #fad6ae;
    --primary-300: #f7b87a;
    --primary-400: #f29145;
    --primary-500: #ee701d;
    --primary-600: #e05816;
    --primary-700: #b94315;
    --primary-800: #943518;
    --primary-900: #40150a;
    --success-50: #f0fdf5;
    --success-100: #dcfce8;
    --success-200: #bbf7d1;
    --success-400: #4ade80;
    --success-500: #22c55e;
    --success-600: #16a34a;
    --success-700: #15803c;
    --success-800: #14532b;
    --success-900: #052e14;
    --success-300: #86efad;
    --warning-50: #fef9e8;
    --warning-100: #fef0c3;
    --warning-200: #fee28a;
    --warning-300: #fdd147;
    --warning-400: #fac215;
    --warning-500: #eab308;
    --warning-600: #ca9a04;
    --warning-700: #a17c07;
    --warning-800: #85680e;
    --warning-900: #423306;
    --danger-50: #fef2f2;
    --danger-100: #fee2e2;
    --danger-200: #fecaca;
    --danger-300: #fca5a5;
    --danger-400: #f87171;
    --danger-500: #ef4444;
    --danger-600: #dc2626;
    --danger-700: #b91c1c;
    --danger-800: #7f1d1d;
    --danger-900: #450a0a;
    --base-black: #000;
    --base-shark: #232227;
    --base-woodsmoke: #141316;
    --base-white: #fff;
    --base-white-2: #fdfdfd;
    --base-alabaster: #fbfbfb;
    --violet-50: #f2ebfe;
    --violet-100: #d8c0fb;
    --violet-200: #c5a1f9;
    --violet-300: #ab76f6;
    --violet-400: #9a5cf4;
    --violet-500: #8133f1;
    --violet-600: #752edb;
    --violet-700: #5c24ab;
    --violet-800: #471c85;
    --violet-900: #361565;
    --brown-50: #f0ede7;
    --brown-100: #d1c6b4;
    --brown-200: #baaa8f;
    --brown-300: #9b845c;
    --brown-400: #886c3d;
    --brown-500: #6a470c;
    --brown-600: #60410b;
    --brown-700: #4b3209;
    --brown-800: #3a2707;
    --brown-900: #2d1e05;
    --blue-green-50: #eef9fa;
    --blue-green-100: #ccecee;
    --blue-green-200: #b3e3e6;
    --blue-green-300: #90d7da;
    --blue-green-400: #7acfd3;
    --blue-green-500: #59c3c8;
    --blue-green-600: #51b1b6;
    --blue-green-700: #3f8a8e;
    --blue-green-800: #316b6e;
    --blue-green-900: #255254;
    --blue-50: #e8f2ff;
    --blue-100: #b6d6ff;
    --blue-200: #93c2ff;
    --blue-300: #62a7ff;
    --blue-400: #4495ff;
    --blue-500: #157bff;
    --blue-600: #1370e8;
    --blue-700: #0f57b5;
    --blue-800: #0c448c;
    --blue-900: #09346b;
    --green-everglade-50: #e9edeb;
    --green-everglade-100: #bac7bf;
    --green-everglade-200: #99aba1;
    --green-everglade-300: #6a8576;
    --green-everglade-400: #4d6d5b;
    --green-everglade-500: #214932;
    --green-everglade-600: #1e422e;
    --green-everglade-700: #173424;
    --green-everglade-800: #12281c;
    --green-everglade-900: #0e1f15;
    --blaze-orange-50: #fff0e7;
    --blaze-orange-100: #fed1b3;
    --blaze-orange-200: #febb8f;
    --blaze-orange-300: #fd9c5c;
    --blaze-orange-400: #fd893c;
    --blaze-orange-500: #fc6b0b;
    --blaze-orange-600: #e5610a;
    --blaze-orange-700: #b34c08;
    --blaze-orange-800: #8b3b06;
    --blaze-orange-900: #6a2d05;
}

body {
    font-family: 'Inter', sans-serif;
}

.vr {
    width: 1px;
    margin: 5px 10px;
    border-right: 1px solid var(--neutral-900);
}