@import "styles/fonts";
@import "styles/bootstrap.min.css";
@import "styles/all.min.css";

*, ::after, ::before {
    box-sizing: border-box;
}

:root {
    --bg-color: #f5f5f5;
    --text-color: #6c757d;
    --accent-color: #ffd333;
    --contrast-color: #3d464d;
    --grey-color: #ccc;
    --red-color: #ee6e73;
    --light-grey-color: #eee;
}

html, body {
    height: 100%;
}

body {
    min-width: 320px;
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

a {
    color: var(--text-color);
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}

img {
    max-width: 100%;
    height: auto;
}

.btn, .dropdown-menu, .form-control, .form-select {
    border-radius: 0;
}

.form-control:focus, .form-select:focus {
    color: var(--text-color);
    border-color: var(--accent-color);
    box-shadow: none;
}

.form-control::placeholder {
    color: var(--grey-color);
}

.btn-warning {
    background-color: var(--accent-color);
    color: var(--contrast-color);
}

.btn-outline-warning {
    border-color: var(--accent-color);
}

.bg-warning {
    background-color: var(--accent-color) !important;
}

.btn-outline-warning:hover {
    background-color: var(--accent-color);
    color: var(--contrast-color);
}

.dropdown-item:active {
    background-color: var(--contrast-color);
}

textarea {
    resize: none;
}

main.main {
    flex: 1 1 auto;
}

section {
    padding: 50px 0;
}

.section-title {
    position: relative;
    text-transform: uppercase;
    color: var(--contrast-color);
    font-weight: 700;

    span { 
        background-color: var(--bg-color);
        padding-right: 1rem;
        position: relative;
        z-index: 1;
    }

    &::after {
        position: absolute;
        content: "";
        width: 100%;
        top: 50%;
        left: 0;
        border-top: 1px dashed var(--text-color);
    }
}

label.required::before {
    content: "* ";
    color: #dc3545;
    font-weight: bold;
}