*, ::after, ::before
    box-sizing: border-box

:root
    --bg-color: #f5f5f5
    --text-color: #6c757d
    --accent-color: #ffd333
    --contrast-color: #3d464d
    --grey-color: #ccc
    --red-color: #ee6e73
    --light-grey-color: #eee

html,
body
    height: 100%
    margin: 0
    padding: 0

body
    min-width: 320px
    font-family: 'Roboto', sans-serif
    background-color: var(--bg-color)
    color: var(--text-color)

    /* cyrillic-ext */
    @font-face
        font-family: 'Roboto'
        font-style: normal
        font-weight: 400
        font-display: swap
        src: url('fonts/Roboto-400-cyrillic-ext.woff2') format('woff2')
        unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F