@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap');

*,
::after,
::before {
    box-sizing: border-box;
}

:root {
    --black-color: #07070C;
    --primary-color: #C0EF55;
    --white-color: #FFFFFF;
}