:root {
    --main-color-dark: #37444C;
    --contrast-color-dark: #273035;
    --main-font-color-dark: #d8d8d8;

    --main-color-light: #FFF;
    --contrast-color-light: #BBB;
    --main-font-color-light: #232323;

}