.cart__item {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  padding: 15px;
  background: #ffffff;
  color: #000000;
  text-align: left;
  font-family: "Nunito Sans", Helvetica, Arial, sans-serif;
  &:hover {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.14);
  }

  &-picture {
    width: 200px;
  }

  &-info {
    width: 60%;
    padding: 0 15px;
  }

  &-name {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
  }

  &-description {
    font-size: 13px;
    font-weight: 400;
  }
  &-price {
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
    padding: 0 15px;
  }
  &-control {
    padding: 0 15px;
  }
}